:root {
  --slideshow-size-scale: 0.6;
}

/* ~~~~~~~~~~~~~~~~~~ */
/*     Main SVG       */
/* ~~~~~~~~~~~~~~~~~~ */

body { background: #fff; }
#us-map  { width: 850px; height: 500px; display: block; margin: auto; border: 0px solid #888; }

/* ~~~~~~~~~~~~~~~~~~ */
/* Polaroid Slideshow */
/* ~~~~~~~~~~~~~~~~~~ */

#polaroid-slideshow {
  position: absolute;
  left: calc(30px * var(--slideshow-size-scale));
  bottom: calc(30px * var(--slideshow-size-scale));
  width: calc(220px * var(--slideshow-size-scale));
  height: calc(320px * var(--slideshow-size-scale));
  pointer-events: hover; /* so it doesn't block map interactions */
  cursor: pointer;
  transition: transform 0.3s;
}

.polaroid {
  position: absolute;
  width: calc(200px * var(--slideshow-size-scale));
  height: calc(250px * var(--slideshow-size-scale));
  background: #ffffff !important; /* Example: pale yellow */
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.083);
  padding: 12px 12px 30px 12px;
  box-sizing: border-box;
  left: 0; top: 0;
  transition: box-shadow 0.3s, background 0.3;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.polaroid img {
  width: calc(176px * var(--slideshow-size-scale));
  height: calc(176px * var(--slideshow-size-scale));
  object-fit: cover;
  border-radius: 6px;
  transition: filter 0.3s;
}

.polaroid-label {
  font-family: sans-serif;
  font-weight: 600;
  font-optical-sizing: auto;
  font-size: calc(1.55em * var(--slideshow-size-scale));
  color: #333333;
  letter-spacing: 2px;
  margin-top: 3px;
  text-align: center;
  background: transparent;
  width: 100%;
}

/* Polaroid hover state: images grayscale, bg dark, font bolder/color */
#polaroid-slideshow.paused .polaroid img {
  filter: grayscale(100%);
}
#polaroid-slideshow.paused .polaroid {
  background: #dcdcdc !important;
  transition: background 0.3s;
}
#polaroid-slideshow.paused .polaroid-label {
  color: #000000; /* example accent color */
  transition: color 0.3s, font-weight 0.3s;
}

/* Scale up slideshow when paused */
#polaroid-slideshow.paused {
  transform: scale(1.13);
  transition: transform 0.3s;
}

#camera-icon {
  position: absolute;
  background: transparent; /* not white/hidden */
}